USE [master]
GO
/****** Object:  Database [QuanLyCSKH]    Script Date: 9/29/2026 1:05:31 PM ******/
CREATE DATABASE [QuanLyCSKH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCSKH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\QuanLyCSKH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCSKH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\QuanLyCSKH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCSKH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCSKH]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 9/29/2026 1:05:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastLogin] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 9/29/2026 1:05:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[CategoryType] [varchar](20) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 9/29/2026 1:05:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[DeviceID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[DeviceCode] [varchar](50) NOT NULL,
	[DeviceName] [nvarchar](150) NOT NULL,
	[SerialOrVersion] [varchar](100) NULL,
	[QRCodeImage] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_Devices] PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairTickets]    Script Date: 9/29/2026 1:05:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairTickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[TicketCode] [varchar](50) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[TechnicianID] [int] NULL,
	[DeviceID] [int] NULL,
	[CategoryID] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[IssueDescription] [nvarchar](max) NOT NULL,
	[Priority] [varchar](20) NULL,
	[Status] [varchar](30) NULL,
	[TicketQRCode] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_RepairTickets] PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketLogs]    Script Date: 9/29/2026 1:05:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[TicketID] [int] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[OldStatus] [varchar](30) NULL,
	[NewStatus] [varchar](30) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_TicketLogs] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/29/2026 1:05:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[ExternalUserID] [varchar](100) NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [UserID], [Username], [PasswordHash], [IsActive], [LastLogin], [CreatedAt]) VALUES (1, 2, N'kythuat01', N'123456', 1, NULL, CAST(N'2026-09-29T12:49:21.400' AS DateTime))
INSERT [dbo].[Accounts] ([AccountID], [UserID], [Username], [PasswordHash], [IsActive], [LastLogin], [CreatedAt]) VALUES (2, 3, N'admin', N'admin123', 1, NULL, CAST(N'2026-09-29T12:49:21.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryType], [Description]) VALUES (1, N'Sửa chữa phần cứng máy tính', N'HARDWARE', N'Lỗi màn hình, bàn phím, nguồn, ổ cứng, RAM...')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryType], [Description]) VALUES (2, N'Khắc phục lỗi hệ điều hành & Cài đặt', N'SOFTWARE', N'Lỗi Windows, nhiễm virus, cài đặt phần mềm văn phòng')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryType], [Description]) VALUES (3, N'Lỗi phần mềm nội bộ Lục Giác', N'SOFTWARE', N'Báo lỗi bug, treo hệ thống, sai lệch dữ liệu trên phần mềm công ty')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Devices] ON 

INSERT [dbo].[Devices] ([DeviceID], [CustomerID], [DeviceCode], [DeviceName], [SerialOrVersion], [QRCodeImage], [CreatedAt]) VALUES (1, 1, N'LG-DEV-001', N'Máy tính PC Đồng bộ Dell OptiPlex', N'SN-DELL-998877', NULL, CAST(N'2026-09-29T06:06:37.023' AS DateTime))
INSERT [dbo].[Devices] ([DeviceID], [CustomerID], [DeviceCode], [DeviceName], [SerialOrVersion], [QRCodeImage], [CreatedAt]) VALUES (2, 1, N'LG-SOFT-002', N'Phần mềm Quản lý Bán hàng Lục Giác', N'Version 3.2.1', NULL, CAST(N'2026-09-29T06:06:37.023' AS DateTime))
SET IDENTITY_INSERT [dbo].[Devices] OFF
GO
SET IDENTITY_INSERT [dbo].[RepairTickets] ON 

INSERT [dbo].[RepairTickets] ([TicketID], [TicketCode], [CustomerID], [TechnicianID], [DeviceID], [CategoryID], [Title], [IssueDescription], [Priority], [Status], [TicketQRCode], [CreatedAt], [UpdatedAt]) VALUES (1, N'TK-2026-0001', 1, 2, 1, 1, N'Máy tính bật không lên nguồn', N'Sáng nay bật máy chỉ kêu bíp liên tục rồi tắt, đèn nguồn nhấp nháy.', N'HIGH', N'IN_PROGRESS', NULL, CAST(N'2026-09-29T06:06:37.023' AS DateTime), CAST(N'2026-09-29T06:06:37.023' AS DateTime))
INSERT [dbo].[RepairTickets] ([TicketID], [TicketCode], [CustomerID], [TechnicianID], [DeviceID], [CategoryID], [Title], [IssueDescription], [Priority], [Status], [TicketQRCode], [CreatedAt], [UpdatedAt]) VALUES (2, N'TK-2026-0002', 1, NULL, 2, 3, N'Lỗi không xuất được hóa đơn trên phần mềm', N'Khi bấm nút Xuất PDF thì phần mềm báo lỗi 500.', N'URGENT', N'PENDING', NULL, CAST(N'2026-09-29T06:06:37.023' AS DateTime), CAST(N'2026-09-29T06:06:37.023' AS DateTime))
SET IDENTITY_INSERT [dbo].[RepairTickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [ExternalUserID], [FullName], [Email], [Phone], [Role], [CreatedAt]) VALUES (1, NULL, N'Nguyễn Văn Khách', N'khachhang1@gmail.com', N'0901234567', N'CUSTOMER', CAST(N'2026-09-29T06:06:37.020' AS DateTime))
INSERT [dbo].[Users] ([UserID], [ExternalUserID], [FullName], [Email], [Phone], [Role], [CreatedAt]) VALUES (2, NULL, N'Trần Kỹ Thuật', N'kythuat.lucgiac@company.com', N'0987654321', N'TECHNICIAN', CAST(N'2026-09-29T06:06:37.020' AS DateTime))
INSERT [dbo].[Users] ([UserID], [ExternalUserID], [FullName], [Email], [Phone], [Role], [CreatedAt]) VALUES (3, NULL, N'Quản Trị Viên Lục Giác', N'admin@lucgiac.com', N'0911223344', N'ADMIN', CAST(N'2026-09-29T06:06:37.020' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Devices] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RepairTickets] ADD  DEFAULT ('MEDIUM') FOR [Priority]
GO
ALTER TABLE [dbo].[RepairTickets] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[RepairTickets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RepairTickets] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TicketLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__Role__2DB1C7EE]  DEFAULT ('CUSTOMER') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__CreatedAt__2EA5EC27]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Users_UserID_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Users_UserID_UserID]
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD  CONSTRAINT [FK_Devices_Users_CustomerID_UserID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Devices] CHECK CONSTRAINT [FK_Devices_Users_CustomerID_UserID]
GO
ALTER TABLE [dbo].[RepairTickets]  WITH CHECK ADD  CONSTRAINT [FK_RepairTickets_Categories_CategoryID_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[RepairTickets] CHECK CONSTRAINT [FK_RepairTickets_Categories_CategoryID_CategoryID]
GO
ALTER TABLE [dbo].[RepairTickets]  WITH CHECK ADD  CONSTRAINT [FK_RepairTickets_Devices_DeviceID_DeviceID] FOREIGN KEY([DeviceID])
REFERENCES [dbo].[Devices] ([DeviceID])
GO
ALTER TABLE [dbo].[RepairTickets] CHECK CONSTRAINT [FK_RepairTickets_Devices_DeviceID_DeviceID]
GO
ALTER TABLE [dbo].[RepairTickets]  WITH CHECK ADD  CONSTRAINT [FK_RepairTickets_Users_CustomerID_UserID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[RepairTickets] CHECK CONSTRAINT [FK_RepairTickets_Users_CustomerID_UserID]
GO
ALTER TABLE [dbo].[RepairTickets]  WITH CHECK ADD  CONSTRAINT [FK_RepairTickets_Users_TechnicianID_UserID] FOREIGN KEY([TechnicianID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[RepairTickets] CHECK CONSTRAINT [FK_RepairTickets_Users_TechnicianID_UserID]
GO
ALTER TABLE [dbo].[TicketLogs]  WITH CHECK ADD  CONSTRAINT [FK_TicketLogs_RepairTickets_TicketID_TicketID] FOREIGN KEY([TicketID])
REFERENCES [dbo].[RepairTickets] ([TicketID])
GO
ALTER TABLE [dbo].[TicketLogs] CHECK CONSTRAINT [FK_TicketLogs_RepairTickets_TicketID_TicketID]
GO
ALTER TABLE [dbo].[TicketLogs]  WITH CHECK ADD  CONSTRAINT [FK_TicketLogs_Users_UpdatedBy_UserID] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TicketLogs] CHECK CONSTRAINT [FK_TicketLogs_Users_UpdatedBy_UserID]
GO
USE [master]
GO
